<!-- BEGIN:BENH -->

<div class="row">
    <!-- BEGIN:BENHQC -->
    <div class="col-lg-6 col-md-6 col-sm-6 hidden-xs">
        <img src="upload/adv/{BENHQC.adv_image}" alt="" class="img-responsive">
    </div>
    <!-- END:BENHQC -->
    
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 other-news">
        <h3>Tin liên quan</h3>
        <!-- BEGIN:duoc_news -->
        <div class="media">
            <div class="media-left">
                <a href="chitiet.php?id={duoc_news.news_id}">
                    {duoc_news.news_image}
                </a>
            </div>
            <div class="media-body magtop5">
                <h4 class="media-heading"><a href="chitiet.php?id={duoc_news.news_id}">{duoc_news.news_title}</a></h4>
                {duoc_news.news_brief}
            </div>
        </div>
        <!-- END:duoc_news -->
<!--        <div class="media">
            <div class="media-left">
                <a href="#">
                    <img class="media-object" src="http://i.imgur.com/qaNINp2.png" alt="..." style="width: 64px; height: 64px;">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading"><a href="#">Thói quen sử dụng gấc giúp đôi mắt sáng khỏe </a></h4>
                Như đã biết, dầu gấc đặc biệt tốt cho mắt. Một nghiên cứu của Mỹ kết hợp với Viện dinh dưỡng quốc gia được thực hiện tại Trường tiểu học Đoàn kết ở Thanh Miện - Hải Dương...
            </div>
        </div>-->
    </div>
	<!--San pham lien quan-->
	
</div>
<!-- END:BENH -->