<!-- BEGIN:MAIN -->
{header_tostring}
<!-- breadcrumb -->
<div class="block-breadcrumb">
    <!--<div class="container">-->
        <!--<ol class="breadcrumb">-->
            <!--<li><a href="index.php"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Trang chủ</a></li>-->
            <!--<li class="active">Sản phẩm</li>-->
        <!--</ol>-->
    <!--</div>-->
</div>


<!--Main content-->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <div class="">
                <div class="gac-tab" role="tabpanel">

                    <!-- Nav tabs -->
                    <ul class="nav nav-pills nav-justified" role="tablist">
                        <!-- BEGIN:SP -->
                        <li role="presentation" class="active"><a href="#{SP.product_id}" aria-controls="{SP.product_id}" role="tab" data-toggle="tab">{SP.product_name}</a></li>
                        <!-- END:SP -->
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="{SP.product_id}">
                            <p class="text-center">{SP.product_image}</p>
                            {SP.product_desc}
                        </div>

                        
                    </div>

                </div>
            </div>
            <hr>
            {benh_tostring}


        </div>
        <!--Sidebar right-->
        {right_tostring}
        <!--End sidebar right-->
    </div> 
    <!--End row-->
</div> 
<!--End container-->
{footer_tostring}
<!-- END:MAIN -->
