<!-- BEGIN:MAIN -->
{header_tostring}
<div class="block-breadcrumb">
    <!--<div class="container">-->
        <!--<ol class="breadcrumb">-->
            <!--<li><a href="index.php"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Trang chủ</a></li>-->
            <!--<li class="active">Chia sẻ</li>-->
        <!--</ol>-->
    <!--</div>-->
</div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                
                <div class="content chiase">
                    <div class="news">
                    <!-- BEGIN:tin -->
                        <div class="media item-news">
                            <h4 class="media-heading" style="margin-bottom: 2px;"><span class="glyphicon glyphicon-play-circle"></span>&nbsp; <a href="chitietchiase.php?id={tin.id}">{tin.fullname}</a></h4>
                            <a class="pull-left" href="chitietchiase.php?id={tin.id}">
                                {tin.news_image}
                            </a>
                            <!--<div><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> {tin.email}</div>-->
                            <div class="media-body">
                                <p>{tin.brief}</p>
                                <a href="chitietchiase.php?id={tin.id}" class="readmore pull-right">Chi tiết</a>
                            </div>
                        </div>
                        <!-- END: tin -->
                        {pages}
                        
                    </div>
                    
                    
                </div>
				{benh_tostring}
            </div>
           {right_tostring} 
        </div>
        
    </div>
     <a href="#" class="scrollToTop"><i class="glyphicon glyphicon-circle-arrow-up"></i></a>
{footer_tostring}
<!-- END:MAIN -->
