<!-- BEGIN:MAIN -->
{header_tostring}
<div class="block-breadcrumb">
    <!--<div class="container">-->
        <!--<ol class="breadcrumb">-->
            <!--<li><a href="index.php"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Trang chủ</a></li>-->
            <!--<li class="active">Tin tức - Sự kiện</li>-->
        <!--</ol>-->
    <!--</div>-->
</div>
<!--Main content-->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <div class="news">
                        <!-- BEGIN: tin -->
                        <div class="media item-news">
                            <h4 class="media-heading"><a href="chitiet.php?id={tin.news_id}"><span class="glyphicon glyphicon-play-circle"></span> {tin.news_title}</a></h4>
                            <a class="pull-left" href="chitiet.php?id={tin.news_id}">
                                {tin.news_image}
                            </a>
                            <div class="media-body">
                                
                                <p>{tin.news_brief}</p>
                                <a href="chitiet.php?id={tin.news_id}" class="readmore pull-right">Chi tiết</a>
                            </div>
                        </div>
                        <!-- END: tin -->
                        
                    </div>
                    <hr>
                    {benh_tostring}
                </div>
                <!--Sidebar right-->
                {right_tostring} 
                <!--End sidebar right-->
            </div> 
            <!--End row-->
        </div> 
        <!--End container-->
{footer_tostring}
<!-- END:MAIN -->
